---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout pageTitle={frontmatter.title}
    ><h1>{frontmatter.title}</h1>
    <p>Written by {frontmatter.author}</p>
    <p>published on: {frontmatter.pubDate.slice(0,10)}</p>
    <p>
        tags {
            frontmatter.tags.map((tag) => {
                return <p>{tag}</p>;
            })
        }
    </p>
    <img src={frontmatter.image.url} width='300' alt={frontmatter.alt} />
    <slot />
    </BaseLayout>
